body {
	padding: 20px;
}

header > img {
	width: 100%;
}

nav {
	text-align: center;
	margin: 30px;
	font-size: 35px;
	font-style: italic;
}

main {
	text-align: center;
	border-bottom: 1px dashed black;
}

main > img {
	width: 70px;
	margin-bottom: 20px;
}

main > p {
	font-size: 24px;
	text-align: justify;
	text-indent: 80px;
	margin-bottom: 20px;
}

footer {
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
}

address > p {
	padding-bottom: 10px;
}

address > p > img {
	height: 40px;
}