body {
  padding: 1em;
  background: white linear-gradient(#ddeeff, white 25%);
  font-size: 20px;
}

body > header {
  padding: 5em 0;
  background: url('../img/corredor.png') no-repeat 45% top;
}

header {
  padding: 0.5em 0;
  text-align: center;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 0px 0px 7px white;
}

nav {
  padding: 10px 0;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  margin-bottom: 1em;
  text-align: center;
}

article {
  margin-bottom: 1em;
}

article > header {
  border-top: 1px solid black;
  border-bottom:1px solid black;
  border-left: 10px solid black;
  border-right: 10px solid black;
  margin-bottom: 1em;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
}

figure {
  margin-bottom: 1em;
  text-align: center;
}

figure > img {
  width: 50%
}

figcaption {
  font-style: italic;
}

p {
  margin-bottom: 1em;
  text-align: justify;
  text-indent: 3em;
  line-height: 1.5em;
}

footer {
  text-align: center;
  font-size: 0.85em;
}

blockquote {
  margin-bottom: 0.25em;
}

address {
  font-style: italic;
}

em {
  font-style: italic;
}

ul {
  margin-bottom: 1em;
  color: #000066;
}

li {
  margin-bottom: 0.25em;
}

ul > li {
  list-style: disc inside;
}

ol {
  margin-bottom: 1em;
  color: #660000;
}

ol > li {
  list-style: decimal inside;
}
