body {
	margin: 0 30px;
}

header {
	padding: 80px 0;
	background: url("../img/moda.jpg") no-repeat center;
	background-size: auto;
	font-size: 60px;
	text-align: center;
	text-transform: uppercase;
	text-shadow: 2px 2px 2px white;
}

nav {
	text-align: center;
	padding: 10px 0;
	border-top: 1px solid black;
	border-bottom: 1px solid black;
	font-size: 1.2em;
}

nav > a {
	padding: 7px 15px 7px 15px;
}

nav > img {
	padding: 0 15px 2px 15px;
}

main {
	margin-bottom: 2em;
}

article > h2 {
	padding: 15px 0;
	font-size: 2.2em; 
	font-style: italic;
}

article > figure >img {
	width: 100%;
}

article > p{
	padding: 10px 0;
	text-align: justify;
	text-indent: 3em;
	font-size: 1.2em;
}
