body {
	margin-left: 300px;
	margin-right: 300px;
	text-align: center;
}

header {
	margin: 20px;
	font-size: 45px;
	font-weight: bold;
}

img {
	width: 100px;
}

main {
	text-indent: 50px;
	text-align: left;
	margin-top: 15px;
}

main > p {
	padding-left: 10px;
	border-left: 1px solid black;
	margin-bottom: 1em;
}

footer {
	font-size: 15px;
}

footer > p {
	margin-bottom: 0.5em;
}

footer > address > p {
	font-style: italic;
}